
<%= form_for(time_schedule) do |f| %>
  <% if time_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(time_schedule.errors.count, "error") %> prohibited this time_schedule from being saved:</h2>

      <ul>
      <% time_schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

          <%= f.label :start_time %><%= f.text_field :start_time, autofocus: true %>
          <%= f.label :end_time %><%= f.text_field :end_time %><br>
          <%= f.label :slot_date %><%= f.date_field :slot_date %><br>
        
            <!--  -->
     <%= f.collection_select :hospital_affiliation_id, HospitalAffiliation.all, :id, :affiliation %>
          <%= f.submit %>
  </div>
<% end %>
