<p id="notice"><%= notice %></p>

<h1>Doctors</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
      <td><%= doctor.professional_statement %>  </td>
      <td><%= doctor.practicing_from %></td>
      <td><%= doctor.profile_image %></td>
      <td><%= doctor.certificate_image %></td>
      <td><%= doctor.fax_number %></td>
        <td><%= link_to 'Show', doctor %></td>
        <td><%= link_to 'Edit', edit_doctor_path(doctor) %></td>
        <td><%= link_to 'Destroy', doctor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<% if !current_user.doctor.nil? %>
       <% if current_user.doctor.profile_confirmation === false %>
           <h1>Pending cha</h1>
         <% else %>
          <h1> succes</h1>
      <% end %>
<% end %>
