<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<p id="notice"><%= notice %></p>
<div id="doctor-show " >
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="profile">
				<div class="col-md-3"></div>
				<div class="profile-image col-md-3">
				 	<tbody>
				      <tr>
				      <td><%= image_tag @doctor.profile_image.url(:medium), class: "img-circle", width: "140px", height: "140px" %></td>
					      <div class="doctor-interface">
						        <td><%= link_to 'Edit', edit_doctor_path(@doctor) %></td>
						        </td>
					      </div>
				      </tr>
				 	 </tbody>
				 	 <div class="average-review-rating" data-score=<%= @average_review %>></div>
				 </div>

			 	 </div>
			 	 <div id="doctor-name " class="col-md-6">
		 			<h2 style="font-weight: bolder;"><%= "Dr." + @doctor.user.first_name + " " + @doctor.user.Last_name%></h2>
		 			<h5>Dentist</h5> 
		 			<button class="btn">BOOK Appointment</button>


	<% if current_user.user_type == "patient" %>
	 <% #if (Review.where("doctor_id = ? AND user_id = ?", params[:id], current_user.id)).empty? %>	 


  <%= link_to "Add Review", new_review_path(doctor_id: @doctor.id),
				remote: true,  class: 'btn sign-up' %>


<%#end %>
<% end %>
		 		</div>
			</div>
		 </div>
	</div>
</div>






<div class="Q-statement background-style ">	
<% if @doctor.qualification.nil? %>
	<h1>the qualification is nill</h1>	
	<% if current_user.user_type == "doctor" %>
	<%= link_to 'redirect to qualification form', new_qualification_path %>
	<% end %>
 <%else %>

<div class="container">
		<div class="qualification-header">Qualifications and Experience</div>
		<div class="qualifications">
			<div class="row">
			<div class="col-md-1"></div>
				<div class="col-md-2">
					Education
				</div>
				<div class="col-md-6">
					     <%= @qualification.qualification_name %>
				</div>
			<div class="col-md-3"></div>
			</div>
			<hr class="qualifaction-divider">
			<div class="row">
			<div class="col-md-1"></div>
				<div class="col-md-2">
					Board Certificates
				</div>
				<div class="col-md-6">
									 <%= @qualification.board_certification %> 
				</div>
			<div class="col-md-3"></div>
			</div>
			<hr class="qualifaction-divider">
			<div class="row">
			<div class="col-md-1"></div>
				<div class="col-md-2">
					Specialities
				</div>
				<div class="col-md-6">
				 */*/*/***************
				</div>
			<div class="col-md-3"></div>
			</div>
			<hr class="qualifaction-divider">
			<div class="row">
			<div class="col-md-1"></div>
				<div class="col-md-2">
					Language
				</div>
				<div class="col-md-6">
				 <%= @qualification.language %> 
				</div>
			<div class="col-md-3"></div>	
			</div>
			<hr class="qualifaction-divider">
			<div class="row">
			<div class="col-md-1"></div>
				<div class="col-md-2">
					Institude Name
				</div>
				<div class="col-md-6">
					<%= @qualification.institute_name %> 
				</div>
			<div class="col-md-3"></div>	
			</div>
			<hr class="qualifaction-divider">
			<div class="row">
			<div class="col-md-1"></div>
				<div class="col-md-2">
					procurement year
				</div>
				<div class="col-md-6">
				<%= @qualification.procurement_year %>
				</div>
			<div class="col-md-3"></div>
			</div>
			<hr class="qualifaction-divider">
			<div class="row">
			<div class="col-md-1"></div>
				<div class="col-md-2">
					Contact
				</div>
				<div class="col-md-6">
				<%= @doctor.fax_number %>
				</div>
			<div class="col-md-3"></div>
			</div>
			<hr class="qualifaction-divider">
			<div class="row">
			<div class="col-md-1"></div>
				<div class="col-md-2">
					Proffessional statement
				</div>
				<div class="col-md-6">
				<%= @doctor.professional_statement%>
				</div>
			<div class="col-md-3"></div>
			</div>
			     <%= link_to 'Show', @qualification %>
					       <%= link_to 'Edit', edit_qualification_path(@qualification) %>
					       <%= link_to 'Destroy', @qualification, method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>
	</div>
</div>


<% end %>

	<!-- review given by the users -->
	<h1>Reviews</h1>
<div id="review">
	<div class="user-rating">
		<div class="container doctor_review">
			<% @reviews.each do |review| %>
				<div class="row" id="review-<%= review.id%>">
					<div class="col-md-1"></div>
					<div class="col-md-2">
						Date of comment<br>
						by Sarvottam Hengaju<br>
						(verified patient)
					</div>
					<div class="col-md-2">
						Overall Rating<br>
						Bedside Manner Rating<br>
						Wait Time Rating
					</div>
					<div class="col-md-2">
						<div class="review-rating" data-score="<%= review.wait_time_rating %>"></div>
						<div class="review-rating" data-score="<%= review.bedside_manner_rating %>"></div>
						<div class="review-rating" data-score="<%= review.overall_rating %>"></div>
					</div>
					<div class="col-md-5">
						<label>Review:</label>
						<%= review.review %>
					</div>

					<%= link_to 'Show', review %>
		        <%= link_to 'Edit', edit_review_path(review), remote: true  %>
		        <%= link_to 'Destroy', review, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
				</div>
				<hr>
			<% end %>
		</div>
	</div>
</div>

</body>
</html>

<div id="review-modal" class="modal fade"></div>


