

<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h2 class="form-title">Edit Review</h2>
		</div>
		<%= render 'form', review: @review %>
	</div>
</div>	

<%= link_to 'Show', @review %> |
<%= link_to 'Back', reviews_path %>
<script type="text/javascript">
          $('#rating-form1',).raty({
            path: '/assets/',
            scoreName: 'review[wait_time_rating]',
            score: '<%=@review.wait_time_rating%>'
          });
       
         
          $('#rating-form2').raty({
            path: '/assets/',
            scoreName: 'review[bedside_manner_rating]',
            score: '<%= @review.bedside_manner_rating%>'
          });
       
          $('#rating-form3').raty({
            path: '/assets/',
            scoreName: 'review[overall_rating]',
            score: '<%= @review.overall_rating%>'
          });
       

  </script>