<!DOCTYPE html>
<html>
  <head>
    <title>FindYourDoc</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <%= render "layouts/nav" %>
   <p class="notice" ><%= notice %></p>
   
       <p class="alert"><%= alert %></p>
 
    <%= yield %>
     <%= link_to('Logout', destroy_user_session_path, method: :delete) %>  

<script type="text/javascript">
  $('.review-rating').raty({ 
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });

  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
  </script>
  </body>
</html>
