<!DOCTYPE html>
<html>
  <head>
    <title>FindYourDoc</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <%= render "layouts/nav" %>
      <div id="notice_wrapper">
        <p class="notice"><%= notice %></p>
      </div>
   
      <div id="notice_wrapper">
      <p class="alert"><%= alert %></p>
      </div>
    
 
    <%= yield %>

<script type="text/javascript">
  $('.review-rating').raty({ 
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });

  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
  </script>
  </body>


</html>
